.body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.header {
    width: 100%;
    text-align: left;
    h1 {
        font-size: 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;

    .display {
        padding: 15px;
        width: 70%;
        box-sizing: border-box;
    }
}

.keyboard-container {

    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 1600px;

    .keyboard-row {
        display: grid;
        gap: 5px;
        width: 100%;
    }
}


.keyBtn {

    border: .8px solid #000;
    padding: 15px;

    &.active {
        box-shadow: 0px 0px 8px 1px rgb(3, 98, 225);
        transform: scale(0.9);
    }
    &:hover {
        box-shadow: 0px 0px 8px 1px rgb(3, 98, 225);
        transform: scale(0.9);
    }

    .shift-key {
        display: none;
    }
}

.func-keyBtn {
    background-color: rgba(0, 0, 0, 0.17);
}

.space {
    width: 520px;
    max-width: 520px;
}

.footer {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
        font-size: 30px;
    }

    .logo-rss {
        width: 100px;
        height: 60px;
        background-image: url(../assets/icons/rs_school_js.svg);
        background-repeat: no-repeat;
    }

}